/*Global Styles*/
:root{
    --background-color:#282828;
    --dark-background-color:#0a0a0a;
    --light-background-color:#5b5a5a;
    --accent-color:#e01646;
    --white-color:#ffffff;
}

body{
    margin:20px 300px;
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 40px;
}

h2{
    font-size: 35px;
}

h3{ 
    font-size: 20px;
}

h1,h2,h3{
    font-weight: bold;
    color: var(--white-color);
    padding: 20px 0px;
}

p{
    font-size: 16px;
    color: var(--white-color);
}

/*Header Styles*/
header{
    background-color: var(--dark-background-color);
    text-align: center;
}

/*Main Styles*/
main{
    display: flex;
}

/*Search Styles*/
.search-section{
    flex:1;
}

input[type=text]{
    color: var(--white-color);
    background-color: var(--background-color);
    border: 3px solid var(--accent-color);
    outline-style: none;
    width: 100%;
    padding: 30px 0px;
}

input[type=submit]{
    background-color: var(--accent-color);
    border: 3px solid var(--accent-color);
    color: var(--white-color);
    outline-style: none;
    width: 100%;
    padding: 30px 0px;
}

/*Data Styles*/
.data-section{
    flex:2;
}
.city-data{
    padding:200px 0px;
    margin: 10px;
    border: 3px solid var(--accent-color);
}
.weather-forcast-data{
    display: flex;
    justify-content: space-between;
}
.weather-forcast-data div{
    padding: 100px 50px;
    margin: 10px;
    background: var(--dark-background-color);
}

